.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo_wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header .logo_wrapper .logo_text {
  display: none;
}

.header .menu_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1.5em;
}

.header .menu_container .menu_wrapper {
  position: absolute;
  transform: translateX(23rem);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 3em;
  border-left: 1px solid var(--color-gray);
  bottom: 0;
  height: 100svh;
  width: 20rem;
  background-color: var(--color-white);
  align-items: center;
  padding-top: 5em;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.header .menu_wrapper .close {
  width: 3rem;
  position: absolute;
  top: 2em;
  right: 0.75em;
}

.hamburger_btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.hamburger_btn .line {
  position: relative;
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--color-gray);
  border-radius: 4px;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.hamburger_btn .line:before,
.line:after {
  content: "";
  left: 0;
  position: absolute;
  height: 0.2rem;
  background-color: var(--color-gray);
}

.hamburger_btn .line:before {
  top: -0.55rem;
  width: 1.75rem;
}

.hamburger_btn .line:after {
  top: 0.55rem;
  width: 2rem;
}

/* Animations */
.header .menu_container .menu_wrapper.open {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.hamburger_btn .line.open {
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.header .menu_container .start_now_btn {
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 8px;
  padding: 0.75em 1.25em;
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .header .logo_wrapper .logo_text {
    display: block;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .header .menu_container {
    flex-direction: initial;
    gap: 3em;
  }

  .header .menu_container .menu_wrapper {
    position: static;
    transform: translateX(0);
    flex-direction: row;
    border-left: none;
    padding-top: 0;
    font-size: 1.6rem;
    height: initial;
    width: 100%;
  }

  .header .menu_wrapper .close_btn {
    display: none;
  }

  .hamburger_btn {
    display: none;
  }
}
