:root {
  --color-blue: #1a75ff;
  --color-lightblue: #f0f6ff;
  --color-black: #141c24;
  --color-white: #fff;
  --color-gray: #344051;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}
